@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-1: "Inter", sans-serif;
  --font-2: "Unbounded", system-ui;
  --primary-color: #000;
  --secondary-color: #868585;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: var(--primary-color);
}

body{
  font-family: var(--font-1);
  
  background: #F3F6EE;
}


/* Scrollbar */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #353131;
}
/* End Scrollbar */

/* Container */
.container{
  width: 1870px;
  margin: 0 auto;
}
/* End Container */

.fill{
  background: #fff;
  height: 100vh;
  width: 80px;
  position: fixed;
  left: 0;
}

/* Sider */
.sider{
  width: 285px;
  height: 100vh;
  background: #fff;
  padding-right: 10px;
  padding-top: 33px;
  position: fixed;
  left: 0;
  padding-left: 25px;
}

.sider__top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sider__user{
  display: flex;
  align-items: center;
  gap: 10px;
}

.sider__avatar{
  background: #4F6728;
  width: 24px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 1px solid #000;
  border-radius: 50%;
}

.sider__username{
  font-size: 20px;
  font-weight: 400;
  font-family: var(--font-2);
}

.sider__burger{
  width: 24px;
  aspect-ratio: 1/1;
}

.sider__burger img{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.sider__bottom{
  margin-top: 23px;
}

.sider__bottom-main{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 11px;
  padding-left: 5px;
}

.sider__bottom-main p{
  font-size: 14px;
  color: var(--secondary-color);
}

.sider__bottom-main img{
  width: 24px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.sider__menu{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sider__menu-element{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 5px 5px;
  border-radius: 11px;
  position: relative;
}

.sider__menu-element img {
  width: 24px;
  aspect-ratio: 1 / 1;
}

.sider__menu-noti{
  position: absolute;
  top: -4px;
  left: 30px;
  height: 13px;
  width: 13px;
  padding: 5px;
  background: var(--primary-color);
  color: #fff;
  font-size: 7px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sider__menu-element.active .sider__menu-noti{
  display: none;
}

.sider__menu-left{
  display: flex;
  align-items: center;
  gap: 8px;
}

.sider__menu-right{
  font-family: var(--font-2);
  font-size: 12px;
  font-weight: 300;
  color: var(--secondary-color);
}

.sider__menu-element.active{
  background: var(--primary-color);
  color: #fff;
}

.sider__menu-element.active .sider__menu-right{
  color: #fff;
}

.sider__submenu p{
  color: var(--secondary-color);
  margin: 24px 0;
  font-size: 14px;
}

.mentalio{
  position: absolute;
  bottom: 17px;
  left: 92px;
  color: var(--secondary-color);
  font-weight: 400;
}
/* End Sider */

/* notification */
.notification{
  padding-left: 532px;
  padding-top: 102px;
}

.notification__layout{
  width: 1303px;
}

.notification__title{
  font-size: 46px;
  font-weight: 700;
  font-family: var(--font-2);
  padding-left: 247px;
  margin-bottom: 60px;
}

.notification__content{
  width: 100%;
  padding: 40px 10px;
  display: flex;
  gap: 76px;
  border-radius: 10px;
}

.notification__left{
  width: 250px;
}

.notification__left-item{
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
}

.notification__left-item.active{
  background: #000;
  color: white;
}

.notification__left-item-title{
  display: flex;
  align-items: center;
  gap: 5px;
}

.notification__left-item-title img{
  width: 24px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.notification__left-item-title span{
  font-size: 16px;
  font-weight: 700;
}

.notification__left-item-quantity{
  font-size: 16px;
  font-weight: 400;
}

.notification__right{
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.notification__right-message{
  height: 675px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
}

.notification__right-message-info{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.notification__right-message-avatar{
  width: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.notification__right-message-info-userName{
  font-size: 14px;
  font-weight: 700;
}

.notification__right-message-detail{
  padding: 0px 50px;
  line-height: 17px;
  font-size: 14px;
  font-weight: 400;
}

.notification__right-date{
  font-size: 14px;
  font-weight: 700;
  padding: 8px 22px;
  border: 1px solid #000;
  border-radius: 10px;
}
/* End notification */