@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-1: "Inter", sans-serif;
  --font-2: "Unbounded", system-ui;
  --primary-color: #000;
  --secondary-color: #868585;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: var(--primary-color);
}

body{
  font-family: var(--font-1);
  background: #F3F6EE;
}


/* Scrollbar */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #353131;
}
/* End Scrollbar */

/* Container */
.container{
  width: 1820px;
  margin: 0 auto;
}
/* End Container */

/* Header */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 61px;
  margin-bottom: 60px;
}

.header__left{
  display: flex;
  align-items: center;
  gap: 53px;
  margin-right: 40px;
}

.header__left-button{
  display: block;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  font-family: var(--font-1);
}

.header__left-button.active{
  padding: 13px 60px;
  background: #89B73A;
  color: white;
  border-radius: 20px;
  border: none;
}

.header__mid{
  flex: 1;
  /* position: relative; */
}

.header__mid-form{
  position: relative;
}

.header__mid-input{
  width: 100%;
  height: 50px;
  border-radius: 20px;
  padding: 0 15px;
  font-size: 20px;
  border: 1px solid #000;
  outline: none;
  background: transparent;
}

.header__mid-sort{
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 1px solid #000;
  padding: 0px 20px;
  cursor: pointer;
}

.header__mid-img{
  width: 24px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.header__mid-sort-popup{
  position: absolute;
  left: 0;
  right: 0;
  bottom: -141px;
  padding: 19px;
  border: 1px solid #000;
  border-radius: 20px;
  display: none;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.header__mid-sort-choice-group{
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__mid-sort-label{
  font-size: 11px;
  font-weight: 500;
  cursor: pointer;
}

.header__right{
  width: 100px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__right-notification, .header__right-avatar{
  width: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.header__right-avatar{
  border-radius: 50%;
}
/* End Header */

/* Section 1 */
.section-1{
  margin-bottom: 90px;
}

.section-1__title{
  font-size: 72px;
  font-weight: 700;
  font-family: var(--font-2);
  text-align: center;
  margin-bottom: 10px;
  /* linear color for text */
  background: linear-gradient(to right, #4F6728, #87C026);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-1__sub-title{
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
}

/* Folders flip */
.my-folders__list-folders{
  width: 1560px;
  margin: 0 auto;
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}

.my-folders__folder-item, .my-folders__folder-add{
  width: 300px;
}

.my-folders__folder-item-options{
  width: 40px;
  cursor: pointer;
  margin-left: auto;
}

.my-folders__folder-item-title{
  margin-top: 5px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  font-family: var(--font-2);
}

/* End Folders flip */
/* End Section 1 */

/* Flip folder */
.scene {
  width: 300px;
  height: 183px;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background-image: url("../images/happy_folders.png");
  background-size: cover;
}

.card-front-img{
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.card-front-img img{
  width: 100%;
  height: 100%;
}

.card__face--front:hover .card-front-img{
  opacity: 1;
}

.card__face--back {
  background-image: url("../images/empty_folders.png");
  background-size: cover;
  transform: rotateY(180deg);
}

.card-back-data{
  position: absolute;
  left: 14px;
  top: 30px;
}

.card-back-data__words{
  height: 135px;
  overflow-y: scroll;
}

.card-back-data__words::-webkit-scrollbar {
  display: none;
}

.card-back-data__title{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #868585;
  margin-bottom: 20px;
}

.card-back-data__title img{
  width: 12px;
  height: 12px;
}

.card-back-data__word{
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-bottom: 10px;
}
/* End Flip folder */

/* Section 2 */
.section-2{
  margin-bottom: 94px;
}

.section-2__title{
  font-size: 72px;
  font-weight: 700;
  font-family: var(--font-2);
  text-align: center;
  margin-bottom: 74px;  
}

.section-2__list-folders{
  width: 1560px;
  margin: 0 auto;
  display: flex;
  gap: 120px;
  flex-wrap: wrap;
}

.section-2__list-item{
  width: calc(100% / 4 - 360px / 4);
}

.section-2__list-item-report{
  width: 40px;
  cursor: pointer;
  margin-left: auto;
}

.section-2__list-item-report img{
  width: 100%;
  object-fit: cover;
}

.section-2__list-item-body{
  position: relative;
}

.section-2__list-item-body-front{
  width: 300px;
  cursor: pointer;
  position: relative;
}

.section-2__list-item-body-folder{
  width: 100%;
  height: auto;
}

.section-2__list-item-info{
  position: absolute;
  top: 29px;
  left: 99px;
}

.section-2__list-item-info-avatar{
  width: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.section-2__list-item-info-name{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.section-2__list-item-body-hover{
  width: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}

.section-2__list-item-body-hover-img{
  width: 100%;
}

.section-2__list-item-body:hover .section-2__list-item-body-hover{
  opacity: 1;
}
/* End Section 2 */

/* Report popup */
.create-folders-popup{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.create-folders-popup__layer{
  width: 100%;
  height: 100%;
  background-color: #00000065;
  cursor: pointer;
}

.create-folders-popup__content{
  position: absolute;
  width: 900px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  /* justify-content: center; */
  background: #fff;
  border-radius: 20px;
  padding: 60px 0;
}

.create-folders-popup__title{
  font-size: 32px;
  font-weight: 500;
}

.create-folders-popup__form-title{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 22px;
}

.create-folders-popup__form-group{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.create-folders-popup__form-group label{
  font-size: 12px;
  font-weight: 500;
}

.create-folders-popup__form-checkbox{
  width: 20px;
  height: 20px;
}

.create-folders-popup__form-group-textarea{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

.textarea-label{
  font-size: 8px;
  font-weight: 500;
}

.textarea-report{
  resize: none;
  height: 103px;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

.report-submit{
  display: block;
  margin: 0 auto;
  padding: 8px 52px;
  background: #85B138;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}
/* End Report popup */

.hidden{
  display: none;
}

.opacity{
  opacity: 1;
}

.show{
  display: flex;
}